.header {
    background-color:#1f2937;
    color:#e5e7eb;
    font-size:18px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    display:flex;
    justify-content: flex-end;
    gap: 30px;
    padding-top: 40px;
    padding-right: 40px;   
}
.section1 {
    background-color:#1f2937;
    display:flex;
    padding-top: 100px;
    padding-right: 200px;
    padding-bottom: 100px;
    padding-left: 200px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    max-height: 500px;       
}

img{
    border-radius: 60px;
    float:right;
}
h1{
    color:#f9faf8;
    font-size: 48px;
    font-weight: bolder;
    max-width: 400px;
    display:flex;   
}
p1{
    font-size:20px; font-weight:bold;
    color:#f9faf8;
    max-width: 450px;
    display:flex;   
}


 p {

 }  

.section2 {
color:#1f2937;
font: size 18px;font-weight: bolder;
padding: 40px;
display:flex;
flex-direction: row;
flex-wrap: wrap;
gap: 20px;
}

.section3{
background-color:#e5e7eb;
color:#1f2937;
font-size: 36px;font-weight: lighter;
font-style: italic;
padding: 75px;
}




    
