.header {
    background-color:#1f2937;
    color:#e5e7eb;
    font-size: 20px; font-weight:bold;
    display: flex;
    justify-content:flex-end;
    align-items: start;
    gap: 20px;
    padding-bottom: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px; 

 }   
.headerlogo{
    color: #f9faf8;
    font: size 36px;
    display:flex;
    justify-content: flex-start;
    
}

.section1 {
    background-color:#1f2937;
    color: #e5e7eb;
    font-size:18px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    padding: 50px;
    display:flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;   
}

.section2 {

color:#1f2937;
font: size 36px;font-weight: bolder;
padding: 40px;
display:flex;
flex-direction: row;
flex-wrap: wrap;

gap: 20px;
}

.section3{
background-color:#e5e7eb;
color:#1f2937;
font-size: 36px;font-weight: lighter;
font-style: italic;
}




    
